*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 3vw;
}
.container {
    padding: 1.7em 2.375em 0;
    height: inherit;
    overflow: hidden;
}
.container {
    padding: 0;
    margin: 0.2em 0;
}
$break_small: 600px;
$tablet_up: 768px;
$break_large: 1024px;
@mixin makeGrid($maxpix, $column, $offset, $classname, $rtl) {
    $direction : right;
    @if $rtl == true {
        $direction: left;
    }
    @for $i from 1 to $column + 1 {
        .#{$classname}-#{$i} {
            float: $direction;
            margin: {
                top: 0.2em;
                left : $offset / 1.5;
                right : 0;
            }
          width: (($maxpix / $column) * $i) - $offset + 0.7em;
          box-sizing: border-box;
        }
    }
    .container {
        width: $maxpix;
        margin: auto;
        margin-bottom: 0;
    }
}

@mixin respond_to($media) {
    @if $media == handhelds {
      @media screen and (min-width: $break_small) {
        @content;
      }
    }
    @else if $media == tablet_screens {
      @media screen and (min-width: $tablet_up + 1) {
        @content;
      }
    }
    @else if $media == wide_screens {
      @media screen and (min-width: $break_large) {
        @content;
      }
    }
  }

@include respond_to(handhelds) {
    body {
        font-size: 2vw;
    }
}
@include respond_to(tablet_screens) {
    body {
        font-size: 1vw;
    }
}
@include respond_to(wide_screens) {
    @include makeGrid(75.000em,12,4em,"grid", true);
}