* {
  margin: 0;
  padding: 0; }

body {
  font-size: 3vw; }

.container {
  padding: 1.7em 2.375em 0;
  height: inherit;
  overflow: hidden; }

.container {
  padding: 0;
  margin: 0.2em 0; }

@media screen and (min-width: 600px) {
  body {
    font-size: 2vw; } }

@media screen and (min-width: 769px) {
  body {
    font-size: 1vw; } }

@media screen and (min-width: 1024px) {
  .grid-1 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 2.95em;
    box-sizing: border-box; }
  .grid-2 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 9.2em;
    box-sizing: border-box; }
  .grid-3 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 15.45em;
    box-sizing: border-box; }
  .grid-4 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 21.7em;
    box-sizing: border-box; }
  .grid-5 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 27.95em;
    box-sizing: border-box; }
  .grid-6 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 34.2em;
    box-sizing: border-box; }
  .grid-7 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 40.45em;
    box-sizing: border-box; }
  .grid-8 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 46.7em;
    box-sizing: border-box; }
  .grid-9 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 52.95em;
    box-sizing: border-box; }
  .grid-10 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 59.2em;
    box-sizing: border-box; }
  .grid-11 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 65.45em;
    box-sizing: border-box; }
  .grid-12 {
    float: left;
    margin-top: 0.2em;
    margin-left: 2.6666666667em;
    margin-right: 0;
    width: 71.7em;
    box-sizing: border-box; }
  .container {
    width: 75em;
    margin: auto;
    margin-bottom: 0; } }
