<!-- nav home -->
<div class="fullW">
        <div class="container">
            <div class="row">
                <div class="grid-12">
                        <nav-directive></nav-directive>
                </div>
            </div>
        </div>
</div>

<div class="jumbotron">
    <div class="jumboInner">
            <h1 class="wht">About Page</h1>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="grid-6">
                <h1>About Me</h1>
                <p>Versed in the production of high quality solutions for clients; bringing broad understanding of Modern HTML, JavaScript, CSS, and software development, plus a very strong ability to execute standard software architectural patterns.</p><br/>

               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam magnam fuga culpa sunt blanditiis, aliquam, earum repudiandae nihil quasi, sequi dolor. Omnis quis suscipit nostrum, minima incidunt rerum blanditiis dolor.</p><br/>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate molestias aliquid, at est officia illo recusandae incidunt corrupti culpa eius enim alias corporis numquam doloribus dolore excepturi, esse error mollitia!</p>
            </div>
            <div class="grid-6">
                <div class="blockBg about"></div>
            </div>
        </div>
    </div>