<!-- nav home -->
<div class="fullW">
        <div class="container">
            <div class="row">
                <div class="grid-12">
                        <nav-directive></nav-directive>
                </div>
            </div>
        </div>
</div>

<header class="homepage-header">
    <div class="container">
        <div class="row">
            <div class="grid-12">
                <h1>Hello I'm Yiannis.</h1>
                <p>Get to know a little bit about me and view some of the work I've been doing for clients.</p>
            </div>
        </div>
    </div>
</header>

<main class="homepage home-main">
    <div class="homewrap">
        <a class="homeleft" ui-sref="work">
            <button type="submit" ui-sref="contact" class="btn">View Work</button>
        </a>
        <a class="homeRight" ui-sref="about">
            <button type="submit" ui-sref="contact" class="btn">About Me</button>
        </a>
    </div>
</main>