<!-- nav home -->
<div class="fullW">
        <div class="container">
            <div class="row">
                <div class="grid-12">
                        <nav-directive></nav-directive>
                </div>
            </div>
        </div>
</div>

<div class="jumbotron">
    <div class="jumboInner">
        <h1 class="wht">Contact Me</h1>
        <p class="wht">I check my email daily. Connect with me and let's discuss how we can change the world.</p>
    </div>
</div>

<main class="homepage home-main">
    <div class="homewrap">
        <a class="contact-full" href="mailto:stav0049@gmail.com">
            <button type="submit" class="btn">Connect</button>
        </a>
    </div>
</main>
