<!-- nav home -->
<div class="fullW">
        <div class="container">
            <div class="row">
                <div class="grid-12">
                        <nav-directive></nav-directive>
                </div>
            </div>
        </div>
</div>

<div class="jumbotron">
    <div class="jumboInner">
            <h1 class="wht">Recent Work</h1>
            <p  class="wht">Take a look at some of the work I've been doing in my free time and some of the clients I've worked with recently.</p>
    </div>
</div>

<div class="workSection">
        <div class="container padding">
                <div class="row">
                    <a href="https://watch.seeka.tv" target="_blank">
                        <div class="grid-6">
                            <h1>Seeka TV</h1>
                            <p>Angular JS powered single page application for streaming independent films. Provides a user the ability to schedule watch parties to collaboratively communicate with others while watching the films.  Built to consume Java REST apis.</p>
                        </div>
                    </a>
                    <a href="https://www.valtira.com/healthcare.html" target="_blank">
                        <div class="grid-6">
                            <h1>Blue Cross Blue Shield of MA</h1>
                            <p>A web application that delivers customized patient site content taylored to their specific healthcare needs. The application is powered by Angular JS and consumes Java REST apis.</p>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="https://github.com/stavrou-1/AWS_S3_CI_CD" target="_blank">
                        <div class="grid-6">
                            <h1>AWS S3 (ci/cd) Infrastructure for Web Apps</h1> 
                            <p>AWS S3 (continous integration / continous development infrastructure) workflow starter files to scaffold your web applications.</p>
                        </div>
                    </a>
                    <a href="https://github.com/stavrou-1/AWS_ElasticBeanstalk_CI_CD" target="_blank">
                        <div class="grid-6">
                            <h1>AWS Elastic Beanstalk (ci/cd) Infrastructure</h1>
                            <p>AWS Elastic Beanstalk (continous integration / continous development infrastructure) workflow starter files built on top of Node JS and React JS. The Application is intended to be integrated with AWS Codecommit.</p>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="https://cloudcourt.valtira-apps.com/#!/login" target="_blank">
                        <div class="grid-6">
                            <h1>Cloud Court</h1>
                            <p>A web application powered by Angular JS. Delivers "advanced technology for recording and transcribing deponent testimony." NOTE: This link will take you to the actual application (currently in its beta phase).</p>
                        </div>
                    </a>
                    <a href="https://www.tasteocracy.com" target="_blank">
                        <div class="grid-6">
                            <h1>Tasteocracy</h1>
                            <p>A web application for scheduling taste tastes in MN and CA. The app provides the ability to customize personal information and schedule taste tests based on geographical locations. It is powered by Angular JS and consumes Java REST apis.</p>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="https://famousdaves.com" target="_blank">
                        <div class="grid-6">
                            <h1>Famous Dave's</h1>
                            <p>A website built on top of our customized Simplicis Java content management system. The site provides the ability to search for any restaurant location based on user input. Provides custom catering to anyone.</p>
                        </div>
                    </a>
                    <a href="https://www.bloomingtonmn.org" target="_blank">
                        <div class="grid-6">
                            <h1>Blue Cross Blue Shield of MN</h1>
                            <p>A web application built to simplify health care patient's history and health records. The app displays customized graph data relative to each specific patient. Powered by React JS and cosumes REST apis.</p>
                        </div>
                    </a>
                </div>
            </div>
</div>