<!-- nav home -->
<div class="fullW">
        <div class="container">
            <div class="row">
                <div class="grid-12">
                        <nav-directive></nav-directive>
                </div>
            </div>
        </div>
</div>

<div class="jumbotron">
    <div class="jumboInner">
            <h1 class="wht">About Me</h1>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="grid-6">
                <h1>Hello</h1>
                <p>Versed in the production of high quality solutions for clients; bringing broad understanding of Modern HTML, JavaScript, CSS, and software development, plus a very strong ability to execute standard software architectural patterns.</p><br/>

               <p>I'm Yiannis - a full time Front End Software Developer based in Saint Paul, MN. In my free time I enjoy biking, working out, NBA basketball, dogs and coffee! I am an avid learner and love to write code. In my life I've traveled to many of the tropical climates like Hawaii, Greece, Mexico, Florida and California! Despite being from Minnesota I am a big Golden State Warriors fan. </p><br/>
            </div>
            <div class="grid-6">
                <div class="blockBg about"></div>
            </div>
        </div>
    </div>