<!-- nav home -->
<div class="fullW">
        <div class="container">
            <div class="row">
                <div class="grid-12">
                        <nav-directive></nav-directive>
                </div>
            </div>
        </div>
</div>

<div class="container">
        <div class="row">
            <div class="grid-12">
                <h1>Work</h1>
                <p>Proud to have worked with the following clients:</p>
            </div>
        </div>
    </div>

    <div class="container padding">
        <div class="row">
            <a href="https://watch.seeka.tv" target="_blank">
                <div class="grid-6">
                    <h1>Seeka TV</h1>
                </div>
            </a>
            <a href="https://www.valtira.com/healthcare.html" target="_blank">
                <div class="grid-6">
                    <h1>Blue Cross Blue Shield of MA</h1>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="https://www.valtira.com/health_insurance.html" target="_blank">
                <div class="grid-6">
                        <h1>Blue Cross Blue Shield of MN</h1>
                </div>
            </a>
            <a href="https://www.cloudcourtinc.com/" target="_blank">
                <div class="grid-6">
                    <h1>Cloud Court Software</h1>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="https://cloudcourt.valtira-apps.com/#!/login" target="_blank">
                <div class="grid-6">
                    <h1>Cloud Court App</h1>
                </div>
            </a>
            <a href="https://www.tasteocracy.com" target="_blank">
                <div class="grid-6">
                    <h1>Tasteocracy</h1>
                </div>
            </a>
        </div>
    </div>