* {
  margin: 0;
  padding: 0; }

/*
Color Pallete
#FC4445; red
#3FEEE6; teal
#97CAEF; lt blue
#762525; maroon
#55BCC9; med teal;
#CAFAFE; blue cream
*/
h1,h2,h3,h4,h5,h6,p,ul,li,ul li,a,label,input {
  color: #525252;
}
.workSection {
  width: 100%;
  background: #FFF; }
.workSection h1,
.workSection p {
  color: #525252;
}
  .workSection .container {
    padding: 0;
    max-width: 100%; }
    .workSection .container p {
      position: relative;
      top: 0.3vw;
      color: #525252; }

.compressedLogo {
  height: 1em; }

.grid-1 {
  width: 100%; }

.grid-2 {
  width: 100%; }

.grid-3 {
  width: 100%; }

.grid-4 {
  width: 100%; }

.grid-5 {
  width: 100%; }

.grid-6 {
  width: 100%; }

.grid-7 {
  width: 100%; }

.grid-8 {
  width: 100%; }

.grid-9 {
  width: 100%; }

.grid-10 {
  width: 100%; }

.grid-11 {
  width: 100%; }

.grid-12 {
  width: 100%; }

[class^='grid-'] {
  box-sizing: border-box;
  float: left;
  padding: 1em 0;
  text-align: center; }

@media screen and (min-width: 769px) {
  .grid-1 {
    width: 8.3333333333%; }
  .grid-2 {
    width: 16.6666666667%; }
  .grid-3 {
    width: 25%; }
  .grid-4 {
    width: 33.3333333333%; }
  .grid-5 {
    width: 41.6666666667%; }
  .grid-6 {
    width: 50%; }
  .grid-7 {
    width: 58.3333333333%; }
  .grid-8 {
    width: 66.6666666667%; }
  .grid-9 {
    width: 75%; }
  .grid-10 {
    width: 83.3333333333%; }
  .grid-11 {
    width: 91.6666666667%; }
  .grid-12 {
    width: 100%; }
  [class^='grid-'] {
    padding: 1em; } }

footer ul li {
  display: inline-block;
  margin: 0.5em 0; }
  footer ul li a {
    text-decoration: none;
    color: #525252; }
  footer ul li span {
    color: #525252;
  }
    footer ul li a:hover {
      color: #97CAEF; }

/* Homepage jumbotron */
.homePageJumbotron {
  height: 80%;
  display: block;
  height: 100vh;
  background-color: #ffffff;
  background-image: radial-gradient(circle, transparent 40%, #97CAEF 40%, #97CAEF 41%, transparent 0), radial-gradient(circle, transparent 40%, #97CAEF 40%, #97CAEF 41%, transparent 0), radial-gradient(circle, transparent 40%, #97CAEF 40%, #97CAEF 41%, transparent 0), radial-gradient(circle, transparent 40%, #97CAEF 40%, #97CAEF 41%, transparent 0), radial-gradient(circle, transparent 40%, #97CAEF 40%, #97CAEF 41%, transparent 0), radial-gradient(circle, transparent 40%, #97CAEF 40%, #97CAEF 41%, transparent 0), radial-gradient(circle, transparent 40%, #97CAEF 40%, #97CAEF 41%, transparent 0);
  background-position: 50% 50%;
  background-size: 200% 200%, 150% 150%, 100% 100%, 60% 60%, 40% 40%, 20% 20%, 5% 5%;
  background-repeat: no-repeat;
  animation: 1s impact linear infinite; }

@keyframes impact {
  0% {
    background-size: 200% 200%, 150% 150%, 100% 100%, 60% 60%, 40% 40%, 20% 20%, 5% 5%; }
  100% {
    background-size: 250% 250%, 200% 200%, 150% 150%, 100% 100%, 60% 60%, 40% 40%, 20% 20%; } }

.container.centerModule {
  position: relative;
  top: 5em; }

.homePageInner {
  position: relative;
  margin: auto;
  top: 10em;
  right: 0;
  max-width: 50em;
  margin: 0 1em;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  border-radius: 3px; }

.inner {
  background: #ffffff; }

/* start button styles */
.btn {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  padding: 1em 2em;
  font-size: 1.1em;
  border-width: 0;
  outline: none;
  border-radius: 0.2em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #FC4445;
  color: #ffffff;
  cursor: pointer;
  transition: background-color .3s; }
  .btn.red_btn {
    background: #FC4445; }

.btn > * {
  position: relative; }

.btn span {
  display: block;
  padding: 12px 24px; }

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.jumbotron {
  width: 100%;
  padding: 7em 1em;
  text-align: center;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px #55BCC9; }

.blockBg {
  width: 100%;
  padding: 7em;
  text-align: center;
  min-height: 20em;
  background-image: url(./img/germany.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  position: relative;
}

.blockBg::after {
  background-color: #FFF;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.8;
}

.wht {
  color: #ffffff; }

.contactLists {
  padding: 0; }
  .contactLists li {
    line-height: 2em;
    list-style-type: none; }

h1 {
  color: #525252;
  margin: 0; }

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out; }

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box; }

.btn.orange {
  background-color: #e67e22; }

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400; }

.btn.red {
  background-color: #7ECCA8; }

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b; }

/* end button styles */
body {
  font-size: 4vw;
  padding: 0;
  margin: 0;
  font-family: "Arial"; }

.container {
  padding: 0;
  height: inherit;
  overflow: hidden;
  padding: 1em; }

.fullW {
  width: 100%;
  background: #ffffff;
  display: block; }
  .fullW .container {
    padding: 0; }

nav {
  width: 100%;
  display: block; }

nav ul li {
  list-style-type: none;
  display: initial;
  box-sizing: border-box; }

nav ul li a {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 1em 0;
  background: #ffffff;
  text-align: center;
  color: black;
  text-decoration: none;
  text-transform: capitalize; }
  nav ul li a:hover {
    background: gainsboro; }

label {
  display: block; }

.fieldsetContactForm {
  border: 0; }

input,
textarea {
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1.25em;
  outline: none;
  border: 0.06em solid gainsboro; }

textarea {
  min-height: 6.6em;
  max-height: 6.6em;
  min-width: 100%;
  max-width: 100%; }

button[type="submit"] {
  width: 100%; }

.container.padding .grid-6 {
  cursor: pointer;
  padding: 5em 1em;
  min-height: 20em; }


/* New Homepage */
main.homepage.home-main {
  display: block;
  width: 100%;
  background: gray;
  display: block;
}

main.homepage.home-main .homewrap .homeleft {
  background: url(./img/opt2.jpg);
  width: 100%;
  display: block;
  box-sizing: border-box;
  float: none;
  padding: 10em 5em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

main.homepage.home-main .homewrap .contact-full {
  background: url(./img/opt2.jpg);
  width: 100%;
  display: block;
  box-sizing: border-box;
  float: none;
  padding: 10em 5em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

main.homepage.home-main .homewrap .homeRight {
  background: url(./img/workspace.jpg);
  width: 100%;
  display: block;
  box-sizing: border-box;
  float: none;
  padding: 10em 5em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

main.homepage.home-main .homewrap .homeleft button,
main.homepage.home-main .homewrap .homeRight button,
main.homepage.home-main .homewrap .contact-full button {
  z-index: 3;
}
main.homepage.home-main .homewrap .homeleft::after,
main.homepage.home-main .homewrap .homeRight::after,
main.homepage.home-main .homewrap .contact-full::after {
  background-color: #FFF;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.8;
}

main.homepage.home-main .homewrap .homeleft *,
main.homepage.home-main .homewrap .homeRight * {
  color: #FFF;
}
main.homepage.home-main .homewrap .homeleft {
  /* background: #55BCC9; */
}
main.homepage.home-main .homewrap .homeRight {
  /* background: #55BCC9; */
}

@media screen and (min-width: 600px) {
  body {
    font-size: 2vw; } }

@media screen and (min-width: 769px) {
  body {
    font-size: 1.2vw; }
  nav ul li a {
    width: 25%;
    float: left;
    display: inline-block; }
  .homePageInner {
    top: 30vh;
    margin: 0 auto; } 

  /* New Homepage */
  main.homepage.home-main {
    display: block;
    width: 100%;
    background: gray;
    display: inline-block;
  }
  main.homepage.home-main .homewrap .homeleft {
    width: 50%;
    /* background: #55BCC9; */
    display: inline-block;
    box-sizing: border-box;
    float: left;
  }
  main.homepage.home-main .homewrap .homeRight {
    width: 50%;
    /* background: #55BCC9; */
    display: inline-block;
    box-sizing: border-box;
    float: left;
  }  
  main.homepage.home-main .homewrap .homeleft,
  main.homepage.home-main .homewrap .homeRight {
    padding: 21vw 10vw;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    margin: 0;
    padding: 0.5em; }
  .container {
    max-width: 70em;
    margin: 0 auto;
    padding: 1em 0; }
  .container.padding .grid-6 {
    padding: 6em 2em; } }
